.post-container {
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử con theo chiều dọc */
    max-width: 400px; /* Đặt chiều rộng tối đa của bài đăng */
    margin-right: 150px;
    margin-bottom: 200px; 
  }
  .post-container .image {
    width: 100%; /* Ensure the image container takes the full width */
    max-width: 400px; /* Set a maximum width for the image container */
    height: 250px; /* Set a fixed height for the image container to maintain consistency */
    overflow: hidden; /* Hide any overflow content */
  }
  
  .post-container .image img {
    width: 100%; /* Ensure the image takes the full width of its container */
    height: 100%; /* Ensure the image takes the full height of its container */
    object-fit: cover; /* Ensure the image covers the entire container */
    object-position: center; /* Center the image within its container */
  }
  div.post div.texts h2 {
    margin: 0;
    font-size: 2rem; /* Kích thước lớn hơn cho tiêu đề */
    font-family: 'Arial', sans-serif; /* Chọn phông chữ */
    transition: color 0.3s; 
    color: #333; /* Màu sắc tiêu đề */
  }
  
  .post-container .texts h2:hover {
    color: #888; /* Đổi màu tiêu đề khi hover */
  }
  
  div.post p.info {
    margin: 10px 0;
    color: #888;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
  }
  
  div.post p.info a.author {
    color: #333;
  }
  
  div.post p.summary {
    margin: 10px 0;
    line-height: 1.6rem;
  }
  
  div.post-page div.image {
    display: flex; /* Sử dụng flexbox để căn chỉnh hình ảnh */
    justify-content: center; /* Căn hình ảnh vào giữa theo chiều ngang */
    align-items: center; /* Căn hình ảnh vào giữa theo chiều dọc */
    max-height: 300px; /* Cố định chiều cao tối đa của container hình ảnh */
    overflow: hidden;
  }
  
  div.post-page div.image img {
    
    object-fit: cover;
    object-position: center center;
    width: 50%;
  }
  
  div.post-page h1 {
    text-align: center;
    margin: 20px 0 10px;
    font-size: 2.5rem; /* Kích thước lớn hơn cho tiêu đề */
    color: #333; /* Màu sắc tiêu đề */
  }
  
  div.post-page time {
    display: block;
    text-align: center;
    font-size: 1rem;
    color: #aaa;
    margin: 10px 0;
  }
  
  div.post-page div.author {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #666; /* Màu sắc tác giả */
  }
  
  div.post-page .content p {
    line-height: 1.6rem;
    margin: 20px 0;
    color: #444; /* Màu sắc nội dung */
  }
  
  div.post-page .content li {
    margin-bottom: 10px; /* Khoảng cách giữa các mục trong danh sách */
  }
  
  
  div.edit-row {
    text-align: center;
    margin-bottom: 20px;
  }
  
  div.post-page a.edit-btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    background-color: #333;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .create-post-container,
  .edit-post-container,
  .profile-username-container {
    max-width: 600px;
    margin: 50px auto; /* Để tránh bị che bởi header */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .create-post-container h2,
  .edit-post-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .post-form {
    display: flex;
    flex-direction: column;
  }
  
  .post-input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .file-input {
    margin-bottom: 20px;
  }
  
  .post-button,
  .update-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 50px;
  }
  
  .delete-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545; /* Màu đỏ cho nút Delete */
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px; /* Giảm khoảng cách giữa nút Delete và các nút khác */
    margin-left: 50px; /* Đảm bảo nút Delete được căn chỉnh bên cạnh các nút khác */
    margin-right: 100px; /* Khoảng cách bên phải của nút Delete */
  }
  
  .delete-button:hover {
    background-color: #bd2130; /* Đổi màu hover của nút Delete */
  }
  
  
  .post-button:hover,
  .update-button:hover
  {
    background-color: #0056b3;
  }
  .comments {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .comment {
    margin-bottom: 20px;
  }
  
  .comment p {
    margin-bottom: 5px;
  }
  
  .comment p:first-child {
    font-weight: bold;
  }
  
  /* Phần thêm bình luận */
  .add-comment {
    margin-top: 20px;
  }
  
  .add-comment textarea {
    width: 10%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-comment button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-comment button:hover {
    background-color: #0056b3;
  }
  .likes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .like-button,
  .dislike-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .like-button:hover,
  .dislike-button:hover {
    background-color: #0056b3;
  }
  
  .likes-count {
    font-size: 16px;
    margin: 0 10px;
  }