body {
  margin: 0;
  /* padding: 0; */
}
main {
  /* padding: 20px;
  max-width: 1400px; */
  width: 100%;
  margin: 0 auto;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.post-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 250px; */
  margin-bottom: 100px;
}
@media screen and (min-width: 700px) {
  div.post {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
    
  }
}
.notification {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.notification .dropdown {
  margin-right: 30px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  display: none;
  width: 200px; /* Set a custom width for the dropdown menu */
  padding: 15px; /* Add padding to increase space inside the dropdown menu */
}
.notification:hover .dropdown {
  display: block; /* Hiển thị dropdown khi di chuột qua phần notification */
}

.notification p {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.notification button {
  margin-top: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.notification button + button {
  margin-left: 5px;
}

.notification button:hover {
  background-color: #0056b3;
}
.notification img{
  width: 15%;
  height: 10%;
  margin-left: 50px;
}